:root {
    --Fonte: 'Noto Sans', sans-serif;
    --Cor-de-fundo-body: #00ADB5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fonte);
    /* max-width: 1440px; */
    margin: 0 auto;
}

body {
    background-color: var(--Cor-de-fundo-body);
}